[Unit]
Description=Run Poker with Friends PostgreSQL backup daily

[Timer]
OnCalendar=*-*-* 03:00:00 UTC
RandomizedDelaySec=2m
Persistent=true
Unit=poker-pg-backup.service

[Install]
WantedBy=timers.target
